/* Global font and background image */
body {
  background-image: url("wp7505161-windows-xp-night-wallpapers1767290563.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  min-height: 98vh;
  display: grid;
  place-items: center;
}

.window {
  border: 2px solid black;
  width: 100px;
  height: 400px;
}

.window-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b"
    "c b";
  gap: 1rem;

  border: 10px;
  border-color: aqua;
  place-items: center;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
